section{
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  margin: 2px solid red;
}

div{
    /* display:flex; */
    align-items:center;
    justify-content:center;
    height:100px;
    width:100px;
    border:2px solid red;
    background-color:blue;
    font-weight:bold;}

#three{order:-1;}
