html, body, div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 5px solid red;
    margin: 0 auto;
}

.one, .two, .three, .four, .five {
    width: 100%;
    min-height: 150px;
}

.one {
    background-color: #003476;
}

.two {
    background-color: #0062d2;
}

.three {
    background-color: #b4d2f7;
}

.four {
    background-color: #d5dfef;
}

.five {
    background-color: #dfe1e5;
}
