.one{display:block;
    background-color:red;
  border-radius:10%;
  text-align:center;
  padding:5px;
  margin:5px;
  }

.two{display:block;
  background-color:yellow;
  border-radius:10%;
  border:2px solid black;
  text-align:center;
  padding:5px;
  margin:5px;
  }

.three{display:block;
    background-color:blue;
border-radius:10%;
border:2px solid black;
text-align:center;
padding:5px;
margin:5px;
  }

.four{display:block;
    background-color:green;
border-radius:10%;
border:2px solid black;
text-align:center;
padding:5px;
margin:5px;
  }



.five{display:block;
    background-color:brown;
border-radius:10%;
border:2px solid black;
text-align:center;
padding:5px;
margin:5px;
  }
